nav {
  margin-top: 50px;
  margin-left: 55px;
  width: fit-content;
  position: fixed;
}

nav ul {
  padding: 0;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

ul li a {
  padding: 10px 30px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: black;
  background: none;
  border: 1px solid #4c566a;
}

ul li a:hover {
  color: #eceff4;
  background: #00aeef;
  border: 1px solid #00aeef;
}

.selected {
  color: #eceff4;
  background: #00aeef;
  border-color: #00aeef;
}
