nav {
  margin-top: 50px;
  margin-left: 55px;
  width: fit-content;
  position: fixed;
  z-index: 1;
}

nav ul {
  padding: 0;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
  list-style: none;
}

nav ul li {
  flex: 0 0 auto;
  margin: 10px;
}

nav ul li a {
  padding: 10px 30px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: black;
  background: #fff;
  border: 1px solid #4c566a;
}

nav ul li a:hover {
  color: #eceff4;
  background: #00aeef;
  border: 1px solid #00aeef;
}

.selected {
  color: #eceff4;
  background: #00aeef;
  border-color: #00aeef;
}

@media (max-width: 1000px) {
  nav {
    margin: 5% auto;
    left: 0;
    right: 0;
  }
}
